* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(../images/bg-desktop.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
}

#logo{
    margin-bottom: 100px;
}

#imagens{
    margin-bottom: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
}

#text{
    width: 600px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-bottom: 50px;
}


h1{
    width: 370px;
    line-height:50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 40px;
    font-size: 2.1em;
}


p{
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 1.3em;
    line-height: 30px;
    opacity: 0.8;
    margin-bottom: 20px;
}

button{
    font-weight: 400;
    border: none;
    color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    width: 200px;
    height: 50px;
    border-radius: 55px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
}

button:hover{
    cursor: pointer;
    background-color:hsl(300, 69%, 71%) ;
    color: white;
}

